<!-- =======================
about us  -->
<section id="about_us">
    <div class="container">
        <div class="row justify-content-between align-items-center">
                <!-- left -->
                <div class="col-md-6">
                    <div class="row mt-4 mt-md-0">
                        <div class="col-5 offset-1 px-2 mb-3 align-self-end">
                            <img class="rounded aos" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" src="assets/images/mpda/about_2.jpeg" alt="">
                        </div>
                        <div class="col-6 px-2 mb-3">
                            <img class="rounded aos" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" src="assets/images/mpda/about_1.jpeg" alt="">
                        </div>
                        <div class="col-7 px-2 mb-3">
                            <div class="rounded aos bg-grad p-2 p-sm-3 p-lg-4 p-xl-5 all-text-white" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1500">
                                <span>Our goal:</span>
                                <h3 class="fw-bold">"If you need it, we have it"</h3>
                            </div>
                        </div>
                        <div class="col-5 align-self-start ps-2 mb-3">
                            <img class="rounded aos" data-aos="fade-down" data-aos-delay="300" data-aos-duration="1500" src="assets/images/mpda/about_3.jpeg" alt="">
                        </div>
                    </div>
                </div>
            <!-- right -->
            <div class="col-md-6 ps-lg-5">
                <h2 class="h1">Get it done with MPDA</h2>
                <p class="lead">At MPDA, you can count on us because we've been in the game for 7 years, perfecting the art of material distribution. Our crew of experienced leaders knows the ins and outs of the manufacturing world, so we get what you need. We're not just about numbers; we're about making your life easier. Think of us as your go-to pals in the distribution scene</p>
                <p>We've got the history, the know-how, and the solutions to keep your operation running smoothly. So, why us? Because we're not just here for now; we're here for the long haul, ready to bring you top-notch material distribution without the fuss. Trust us; we've got your back.</p>
                <div>
                    <a href="/#contact" class="btn btn-dark">Contact us</a>
                    <a href="/#portfolio" class="btn btn-link">View Portfolio</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
about us  -->
