<!-- =======================
action box -->
<section class="p-0">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="bg-dark rounded py-3 all-text-white">
                    <h2 class="alt-font p-2 p-sm-5 text-center">"Hi there! We are creating smart websites. Partnering with 500+ Fortune companies and mid-sized firms across enterprises. We create websites that have it all: Beauty and Brains. "</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
action box -->