<!-- =======================
call to action-->
<section class="p5-4">
    <div class="container">
        <div class="d-block d-md-flex bg-grad p-4 p-sm-5 all-text-white rounded pattern-overlay-3">
            <div class="align-self-center text-center text-md-start">
                <h3>Crafting visually stunning memorable experiences for web.</h3>
                <p class="m-0">We provide digital transformation solutions, enabling companies to make their visions reality.</p>
            </div>
            <div class="mt-3 mt-md-0 text-center text-md-end ms-md-auto align-self-center">
                <button class="btn btn-white mb-0">Learn more!</button>
            </div>
        </div>
    </div>
</section>
<!-- =======================
call to action-->
