<!-- =======================
client -->
<section class="client pt-0 mt-7" id="certifications">
    <div class="container">
        <div class="row">
            <div class="divider"></div>
            <div class="col-md-12 mt-6 mb-6">
                <!-- title -->
                <div class="title text-center">
                    <h2>{{language certifications.title}}</h2>
                </div>
                <!-- Slider START -->
                <div class="tiny-slider arrow-hover arrow-gray">
                    <div class="tiny-slider-inner" data-arrow="true" data-dots="false" data-autoplay="3800" data-gutter="80" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-sm="3" data-items-xs="2">
                        <div class="item"><img src="assets/images/certifications/01.png" alt=""></div>
                        <div class="item"><img src="assets/images/certifications/02.png" alt=""></div>
                        <div class="item"><img src="assets/images/certifications/03.jpg" alt=""></div>
                        <div class="item"><img src="assets/images/certifications/04.png" alt=""></div>
                        <div class="item"><img src="assets/images/certifications/05.png" alt=""></div>
                        <div class="item"><img src="assets/images/certifications/06.jpg" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</section>
<!-- =======================
client -->