<!-- =======================
client -->
<section class="client pt-0 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Slider START -->
                <div class="tiny-slider arrow-hover arrow-gray">
                    <div class="tiny-slider-inner" data-arrow="true" data-dots="false" data-autoplay="3800" data-gutter="80" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-sm="3" data-items-xs="2">
                        <div class="item"><img src="assets/images/clients/01.png" alt=""></div>
                        <div class="item"><img src="assets/images/clients/02.png" alt=""></div>
                        <div class="item"><img src="assets/images/clients/03.png" alt=""></div>
                        <div class="item"><img src="assets/images/clients/04.png" alt=""></div>
                        <div class="item"><img src="assets/images/clients/05.png" alt=""></div>
                        <div class="item"><img src="assets/images/clients/06.png" alt=""></div>
                        <div class="item"><img src="assets/images/clients/07.png" alt=""></div>
                        <div class="item"><img src="assets/images/clients/08.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
client -->