<!-- =======================
footer  -->
<footer class="footer bg-light pt-6">
	<div class="footer-content pb-3">
		<div class="container">
			<div class="row">
				<!-- Footer widget 1 -->
				<div class="col-md-4">
					<div class="widget">
						<a href="/">
							<!-- footer logo Start -->
							<img src="assets/images/logos/completo.png" alt="">
							<!-- footer logo End -->
						</a>
					</div>
				</div>
				<!-- Footer widget 2 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget address" style="background-image: url('assets/images/world-map.png'); background-position: 50% 20px; background-repeat: no-repeat; background-size: contain;">
						<ul class="list-group list-group-borderless">
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-map-alt"></i>Av. de las Américas 1500, Col-PISO 17, Country Club, 44610 Guadalajara, Jal. </li>
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-headphone-alt"></i><a href="tel:+523318039863" target="_blank">(+52) 331-803-9863</a></li>
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-email"></i> <a href="mailto:jose.v@mpda.com.mx" target="_blank">jose.v@mpda.com.mx</a></li>
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-time"></i>
								<p>Mon - Fri: <strong>09:00 - 21:00</strong> <br>Sat & Sun: <strong>Closed</strong></p>
							</li>
						</ul>
					</div>
				</div>
				<!-- Footer widget 3 -->
				<div class="col-md-2 col-sm-6">
					<div class="widget">
						<h6>Quick LInks</h6>
						<ul class="nav flex-column primary-hover">
							<li class="nav-item"><a class="nav-link" href="/#about_us">About</a></li>
							<li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
							<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/#portfolio">Portfolio</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="divider mt-3"></div>
	<!--footer copyright -->
	<div class="footer-copyright py-3">
		<div class="container">
			<div class="align-items-center py-3 text-center">
				<!-- copyright text -->
				<div class="copyright-text">©{{ getAnio }} All Rights Reserved by MPDA.</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
footer  -->

<!-- Back to top -->
<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!--Vendors-->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>

<!--Template Functions-->
<script src="assets/js/functions.js"></script>

<script>
	// Manejar el cambio de idioma con JavaScript
	document.getElementById('lang-select').addEventListener('change', function() {
		const selectedLang = this.value;
		document.cookie = `lang=${selectedLang}; path=/`;
		window.location.reload();
	});
</script>
