<!-- =======================
package -->
<section class="package pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title text-start">
                    <span class="pre-title">The service packages</span>
                    <h2>Choose affordable and 100% premium package</h2>
                    <p>We are an insight and behaviour driven creative marketing agency. A Full package Digital Creative Agency Specializing in: Video Production, Web Design, Branding, Brand Strategy, Content Marketing and Aerial Cinematography. </p>
                    <p>Our passion for customer excellence is just one reason why we are the market leader. We've always worked very hard to give our customers the best experience in dealing with our company.</p>
                </div>
                <!-- price tab nav -->
                <ul class="nav nav-tabs tab-grad">
                    <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#price-1-tab"> Enterprise </a> </li>
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#price-2-tab"> Business </a> </li>
                </ul>
                <!-- price tab end-->
            </div>
            <div class="col-md-5 mt-4 mt-md-0">
                <div class="tab-content p-0">
                    <!-- tab 1 (price 1) -->
                    <div class="tab-pane show active" id="price-1-tab">
                        <div class="card">
                            <div class="card-header text-white bg-grad">
                                <div class="float-start">
                                    <h2 class="text-white fw-bold mb-0 display-4"><span>$</span>149.99</h2>
                                    <div>Enterprise Plan</div>
                                </div>
                            </div>
                            <div class="card-body bg-light ">
                                <ul class="list-group list-group-borderless my-3">
                                    <li class="list-group-item"><i class="fa fa-check"></i>Up to 10 users monthly</li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>Unlimited updates</li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>Free host & domain included</li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>24/7 dedicated Support </li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>Unlimited Storage usage</li>
                                </ul>
                                <a class="btn btn-grad" href="#!">Get it now!</a>
                                <div class="offer">-40%</div>
                            </div>
                        </div>
                    </div>
                    <!-- tab 2 (price 2) -->
                    <div class="tab-pane" id="price-2-tab">
                        <div class="card">
                            <div class="card-header text-white bg-grad">
                                <div class="float-start">
                                    <h2 class="text-white fw-bold mb-0 display-4"><span>$</span>129.99</h2>
                                    <div>Business Plan</div>
                                </div>
                            </div>
                            <div class="card-body bg-light ">
                                <ul class="list-group list-group-borderless my-3">
                                    <li class="list-group-item"><i class="fa fa-check"></i>Up to 5 users monthly</li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>Unlimited updates</li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>20% off on hosting & domain</li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>24/7 dedicated Support </li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>500GB Storage usage</li>
                                </ul>
                                <a class="btn btn-grad" href="#!">Get it now!</a>
                                <div class="offer">-25%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
package -->