<!-- =======================
portfolio -->
<section class="portfolio pb-0" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 mx-auto">
                <!-- title -->
                <div class="title text-center">
                    <span class="pre-title">Check out some of our latest work.</span>
                    <h2>Our Portfolio: Quality Results</h2>
                    <p class="mb-0">Our portfolio shows our hard work and devotion to helping our clients succeed. Don't just take our word for it.</p>
                </div>
            </div>
            <div class="col-md-12 p-0">
                <div class="portfolio-wrap grid items-3 items-padding">
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/pt_1.png" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/pt_1.png" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">E.S.D. Labels</a></h6>
                                <p>Electronic manufactur</p>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/13.jpg" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/13.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Nuts</a></h6>
                                <p>All type of nuts</p>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/14.jpg" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/14.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Packing ring</a></h6>
                                <p>All type of Packing Rings</p>
                            </div>
                        </div>
                    </div>


                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/pt_2.jpg" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/pt_2.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Screws</a></h6>
                                <p>Screws for all needs</p>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/test_2.png" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/15.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Rivets</a></h6>
                                <p>Blind Rivets</p>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/16.jpg" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/16.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Warehouse</a></h6>
                                <p>Warehouse</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- portfolio wrap -->
            </div>
            <div class="col-md-12 p-0">
                <div class="portfolio-wrap grid items-3 items-padding">
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/18.jpg" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/18.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Wipes </a></h6>
                                <p>Cleanroom Wipes</p>
                            </div>
                        </div>
                    </div>          
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/17.jpg" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/17.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Nuts </a></h6>
                                <p>All types of nuts</p>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/19.webp" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/19.webp" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Chemicals </a></h6>
                                <p>Industrial chemicals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 p-0">
                <div class="portfolio-wrap grid items-3 items-padding">
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/20.webp" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/20.webp" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Silicon </a></h6>
                                <p>Silicon</p>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/mpda/pt_3.jpg" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/mpda/pt_3.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Importation</a></h6>
                                <p>Industrial</p>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-card -->
                    <div class="portfolio-card isotope-item digital marketing photo">
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-header">
                                <img src="assets/images/portfolio/21.jpg" alt="">
                            </div>
                            <div class="portfolio-card-footer">
                                <a class="full-screen" href="assets/images/portfolio/21.jpg" data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>
                                <h6 class="info-title"><a href="#" title="">Antistatic shoes </a></h6>
                                <p>Antistatic shoes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
portfolio -->