<!-- =======================
	service -->
	<section class="service" id="services">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<span class="pre-title">Check out our services</span>
						<h2>Premium and royal service</h2>
						<p class="mb-0">Our success stories aren't just success stories; they're the beginning of what we hope is a lasting friendship.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mt-30">
					<div class="feature-box f-style-2 icon-grad h-100">
						<div class="feature-box-icon"><i class="ti-thumb-up"></i></div>
						<h3 class="feature-box-title">Mindset</h3>
						<p class="feature-box-desc"> We're not here for a one-time win; we want to be your go-to team for the foreseeable future. </p>
					</div>
				</div>
				<div class="col-md-4 mt-30">
					<div class="feature-box f-style-2 icon-grad h-100">
						<div class="feature-box-icon"><i class="ti-pencil-alt"></i></div>
						<h3 class="feature-box-title">Compromise</h3>
						<p class="feature-box-desc">We're very focous to help you to get the best products</p>
					</div>
				</div>
				<div class="col-md-4 mt-30">
					<div class="feature-box f-style-2 icon-grad h-100">
						<div class="feature-box-icon"><i class="ti-crown"></i></div>
						<h3 class="feature-box-title">Meet your expectations</h3>
						<p class="feature-box-desc">Be sure we will do our best.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	service -->