<!-- =======================
Testimonials -->
<section class="bg-light">
    <div class="container">
        <div class="tiny-slider dots-dark">
            <div class="tiny-slider-inner" data-arrow="false" data-dots="true" data-autoplay="3800" data-items-xl="1">
                <!-- item 1 -->
                <div class="item mb-3">
                    <div class="row align-items-center">
                        <div class="col-md-10 col-lg-6 mx-md-auto align-self-center">
                            <div class="text-start">
                                <h2>MacoInfo saved $1M with MPDA</h2>
                                <p class="mb-0 lead">"I am really satisfied with my service. Thanks to service, we've just launched our 5th website! You guys rock!"</p>
                                <div class="d-flex mt-3">
                                    <h6 class="align-self-start me-3"><img class="rounded-circle" src="assets/images/thumbnails/avatar-01.jpg" alt="avatar"></h6>
                                    <div class="align-self-center">
                                        <h5 class="mb-2">Nix Maxwell</h5>
                                        <p>CEO and co-founder, MacoInfo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-6 mx-md-auto align-self-center mt-4 mt-lg-0 position-relative">
                            <img class="rounded" src="assets/images/bg/small/02.jpg" alt="">
                            <div class="position-absolute start-0 bottom-0 ms-4 ms-md-0 ms-md-n2 mb-3">
                                <a class="btn btn-grad"  data-glightbox href="https://youtu.be/n_Cn8eFo7u8"> <i class="fa fa-play text-white"></i>Play Video </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item 2 -->
                <div class="item mb-3">
                    <div class="row">
                        <div class="col-md-10 col-lg-6 mx-md-auto align-self-center">
                            <div class="text-start">
                                <h2>BerryDesign Start new business with us!</h2>
                                <p class="mb-0 lead">"You guys rock! Buy this now. I made back the purchase price in just 48 hours!"</p>
                                <div class="d-flex mt-3">
                                    <h6 class="align-self-start me-3"><img class="rounded-circle" src="assets/images/thumbnails/avatar-03.jpg" alt="avatar"></h6>
                                    <div class="align-self-center">
                                        <h5 class="mb-2">Maria Smith</h5>
                                        <p>CEO and Founder, BerryDesign</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-6 mx-md-auto align-self-center mt-4 mt-lg-0 position-relative">
                            <img class="rounded" src="assets/images/bg/small/01.jpg" alt="">
                            <div class="position-absolute start-0 bottom-0 ms-4 ms-md-0 ms-md-n2 mb-3">
                                <a class="btn btn-grad"  data-glightbox href="https://youtu.be/n_Cn8eFo7u8"> <i class="fa fa-play text-white"></i>Play Video </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Testimonials -->