<!-- =======================
Main Banner -->
<section class="p-0 position-relative ">
    <div class="container-fluid d-flex h-100 w-100">
        <div class="row justify-content-between align-items-center w-100">
            <!-- banner image -->
            <div class="col-md-5 d-none d-md-block p-0 ">
                <figure class="w-100 ie-height-900">
                    <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 881.8 917.9" style="enable-background:new 0 0 881.8 917.9;" xml:space="preserve">
                        <path id="XMLID_6_" fill="url(#BgGradient)" d="M0,39.6c0,0,171-121.5,264,64.5s508.5,178.5,508.5,178.5s240-6-6,228S816,755.1,657,830.1
                            s-309,106.5-445.5,76.5C75,876.6,0,717.6,0,717.6V39.6z"/>
                            <path id="XMLID_5_" class="fill-dark" d="M0,291.1c0,0,133.5-100.5,169.5,91.5s103.5,204,81,283.5S0,832.6,0,832.6V291.1z"/>
                            <g id="XMLID_3_">
                                <defs>
                                <rect id="XMLID_11_" x="175" y="18" width="650" height="850"/>
                                <linearGradient id="BgGradient">
                                    <stop class="fill-grad-start" offset="0%"/>
                                    <stop class="fill-grad-end" offset="100%"/>
                                </linearGradient>
                                </defs>
                                <clipPath id="XMLID_51_">
                                <use xlink:href="#XMLID_11_"  style="overflow:visible;"/>
                                </clipPath>
                                <g id="XMLID_4_" class="st2">
                                    <!-- Set your 650px X 850px image below -->
                                    <image style="overflow:visible;" width="650" height="850" id="XMLID_16_" xlink:href="assets/images/personal/{{personal_data img_banner}}"  transform="matrix(0.9999 0 0 0.9999 174.9682 17.8254)">
                                    </image>
                                </g>
                            </g>
                        </svg>
                </figure>
            </div>

            <!-- banner Content -->
            <div class="col-md-7 offset-lg-1 col-lg-5 mt-5 mt-md-0 me-auto">
                <h6>— Welcome to my world</h6>
                <h5 class="display-4 fw-normal cd-headline clip clip-dark big-clip is-full-width">
                    <span class="pt-0">Hello, I am Jose Vega</span><br>
                    <span class="pt-0">A,</span>
                    <span class="typed text-end text-primary" data-type-text="{{personal_data dynamic_words}}"></span>
                </h5>
                <p class="h6 text-light-gray mb-4 fw-normal">{{personal_data global_words}}</p>
                <a class="btn btn-grad me-4 mb-3 mb-sm-0" href="/{{personal_data name_link}}#contact">Contact to me!</a>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Main banner -->