<!-- =======================
header Start-->
<header class="header-static navbar-sticky navbar-light">

    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <!-- Logo -->
                <img class="navbar-brand-item" src="assets/images/logos/figura.png" alt="Logo">
            </a>
            <a class="navbar-brand" href="/">
                <!-- Logo -->
                <img class="navbar-brand-item" src="assets/images/logos/solo_letras.png" alt="Logo">
            </a>
            <!-- Menu opener button -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Main Menu Start -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll navbar-nav-scroll ms-auto" style="transition: backgroung .25s, box-shadow .15s;&hover {color: #4A4860; background: #FFC4EB; box-shadow: 0px 4px 0px 0px}">
                    <!-- Menu item 1 About us-->
                    <li class="nav-item">
                        <a class="btn btn-link" href="/" aria-haspopup="true" aria-expanded="false">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link" href="/jose_vega#contact" aria-haspopup="true" aria-expanded="false">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- Main Menu End -->
            <!-- Header Extras End-->
        </div>
    </nav>
    <!-- Logo Nav End -->
</header>
<!-- =======================
header End-->